h1 {
    text-align: center;
    color: #000;
    background-color: sandybrown;
    padding: 10px;
}

select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

#imgSelect {
    border: 2px solid rgb(255, 157, 0);
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
    background-color: wheat;
    text-align: center;
    padding: 20px;
}

#image {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

#p1, #p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
}

body {
    background-image: url('https://tse1.mm.bing.net/th/id/OIP.L6R97nI7Qxf0DccvYR2evwHaKX?w=116&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3');
    background-size: cover;       /* Makes the image cover the entire screen */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center;  /* Centers the image */
    margin: 0;
    padding: 0;
}